<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JoClock - Iniciar sesión</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/iniciosesion.css">
    <script defer src="/css/js/ojo.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body>
    
    <div class="wrapper">
        <form action="auth" method="POST">
            <h1>Iniciar sesión</h1>
            <div class="input-box">
                <i class='bx bxs-user'></i>
                <input type="text" name="user" placeholder="Usuario">
            </div>
            <div class="input-box">
                <i class='bx bxl-gmail'></i>
                <input type="email" name="correo" placeholder="Correo Electrónico">
            </div>
            <div class="input-box">
                <input type="password" name="pass" id="password" placeholder="Contraseña">
                <i class="bi bi-eye-slash" id="ojo"></i>
            </div>
            

            <button type="submit" class="btn">Iniciar sesión</button>

            <div class="register-link">
                <p>¿No tienes una cuenta? <a href="registro">Registrarse</a></p>
            </div>

            <div class="register-link">
                <p>¿Has olvidado tu contraseña? <a href="recordar">Restablecer</a></p>
                <a href="/"><i class='bx bxs-home-alt-2 casa'></i></a>
            </div>
        </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle%>',
                text: '<%= alertMessage%>',
                icon: '<%= alertIcon%>',
                showConfirmButton: <%= showConfirmButton%>,
                timer: <%= timer%>
            }).then(()=>{
                window.location='/<%= ruta%>'
            })
        </script>
        <% } %>
</body>
</html>
