<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JoClock</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

    <!-- FUENTE DE GOOGLE -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <!-- Script a mano -->
    <script defer src="/css/js/script.js"></script>
</head>
<body>

<!-- Cabecera -->

<header class="cabecera" id="cabecera">
    
    <div class="logo">
        <a href="/"><img src="/css/icons/JOCLOCK_LOGOTIPO.svg" alt=""></a>
    </div>

    <!-- Contenedor para los elementos de navegación -->
    <nav class="opciones-navegacion">
        <a href="/fichar" class="cabecera-link" id="primero">Fichar</a>
        <a href="/tareas" class="cabecera-link">Tareas</a>
        <a href="/noticias" class="cabecera-link actual" id="ultimo">Noticias</a>
    </nav>
    
    <div class="modo" id="modo">
        <img src="/css/icons/moon.png" alt="" id="modo-icono">
        <p id="modo-texto">Modo oscuro</p>
    </div>
    
    <div class="apartado-sesion">
        <div class="apartado-sesion-principal">
            <div class="logo-sesion">
                <a href="<%= login ? 'cerrarsesion' : 'iniciosesion' %>">
                    <i class="bi bi-person-bounding-box"></i>
                </a>
            </div>
            <div class="nombre-sesion">
                <% if(login) { %>
                    <a href="cerrarsesion"><h4><%= usuario %></h4></a> 
                <% } else { %>
                    <h4></h4>
                <% } %>
            </div>
        </div>
        <div class="opcion-sesion">
            <% if(login) { %>
                <a href="cerrarsesion">Cerrar sesión</a>
            <% } else { %>
                <a href="iniciosesion">Iniciar sesión</a>
            <% } %>
        </div>
    </div>

    <button id="menu-boton" class="intercambio-navegacion">
        &#9776
    </button>
</header>

<div class="caja-centrada">
    <h1 class="titulo-crear">Editar Noticia</h1>
</div>
    
    <% if (noticia){ %>
    <form action="/editar_noticia" method="POST" class="container" enctype="multipart/form-data">
        <input value="<%= noticia.id %>" id="id" name="id" hidden>
        <div class="mb-3">
            <label for="noticia" class="form-label texto-general"><i class="bi bi-chat-square-dots"></i>Escribe tu noticia:</label>
            <textarea id="noticia" name="noticia" rows="4" cols="50" maxlength="300" required class="form-control borde input-info"><%= noticia.noticia %></textarea>
        </div>
        <div class="mb-3">
            <label for="imagen" class="form-label texto-general"><i class="bi bi-card-image"></i>Adjuntar imagen:</label>
            <input type="file" value="<%= noticia.imagen %>" name="imagen" id="imagen" class="form-control borde">
        </div>
        <div class="caja-centrada">
            <p class="texto-general"><i class="bi bi-person-circle"></i>Usuario: <%= usuario %></p>
            <div>
                <button type="submit" class="btn btn-primary">Publicar Noticia</button>
                <a href="/noticias" class="btn btn-secondary">Cancelar</a>
            </div>
        </div>
        
    </form>
    <% }; %>
</body>
</html>
