<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JoClock - Recordar Contraseña</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/iniciosesion.css">
</head>
<body>
    
    <div class="wrapper">
        <form action="/enviar-correo" method="POST">
            <h1>Recordar Contraseña</h1>
            <div class="input-box">
                <i class='bx bxs-mail-send'></i>
                <input type="email" name="correo" placeholder="Correo Electrónico">
            </div>
            
            <button id="enviarCorreoBtn" type="submit" class="btn">Enviar Correo de Restablecimiento</button>
    
            <div class="register-link">
                <p>¿Recuerdas tu contraseña? <a href="iniciosesion">Iniciar sesión</a> </p>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle%>',
                text: '<%= alertMessage%>',
                icon: '<%= alertIcon%>',
                showConfirmButton: <%= showConfirmButton%>,
                timer: <%= timer%>
            }).then(()=>{
                window.location='/<%=ruta%>'
            })
        </script>
        <% } %>
</body>

</html>
