<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JoClock</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

    <!-- FUENTE DE GOOGLE -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet">
    
    <!-- Script a mano -->
    <script defer src="/css/js/script.js"></script>
    <script src="/css/js/tareas.js"></script>
</head>
<body>

<!-- Cabecera -->
<header class="cabecera" id="cabecera">
    <div class="logo">
        <a href="/"><img src="/css/icons/JOCLOCK_LOGOTIPO.svg" alt=""></a>
    </div>

    <!-- Contenedor para los elementos de navegación -->
    <nav class="opciones-navegacion">
        <a href="/fichar" class="cabecera-link" id="primero">Fichar</a>
        <a href="/tareas" class="cabecera-link actual">Tareas</a>
        <a href="/noticias" class="cabecera-link" id="ultimo">Noticias</a>
    </nav>
    
    <div class="modo" id="modo">
        <img src="/css/icons/moon.png" alt="" id="modo-icono">
        <p id="modo-texto">Modo oscuro</p>
    </div>
    
    <div class="apartado-sesion">
        <div class="apartado-sesion-principal">
            <div class="logo-sesion">
                <a href="<%= login ? 'cerrarsesion' : 'iniciosesion' %>">
                    <i class="bi bi-person-bounding-box"></i>
                </a>
            </div>
            <div class="nombre-sesion">
                <% if(login) { %>
                    <a href="cerrarsesion"><h4><%= usuario %></h4></a> 
                <% } else { %>
                    <h4></h4>
                <% } %>
            </div>
        </div>
        <div class="opcion-sesion">
            <% if(login) { %>
                <a href="cerrarsesion">Cerrar sesión</a>
            <% } else { %>
                <a href="iniciosesion">Iniciar sesión</a>
            <% } %>
        </div>
    </div>

    <button id="menu-boton" class="intercambio-navegacion">
        &#9776
    </button>
</header>

<!-- Tareas -->
<main>

    <h1 class="titulo-inicio" id="hola">TAREAS</h1>
 
    <div class="contenedor-tareas">
        <a href="/tareas_crear" class="btn btn-outline-primary mt-4 btn-lg subir-tarea">SUBIR TAREA <i class="bi bi-plus-circle"></i></a>
        <% let contador = 1; %>
        <% resultados.forEach((tarea)=> { %>
            <div class="tarea">
                <div class="titulo-tarea">
                    <h1 class="titulo-tarea">Tarea <%= contador %></h1>
                    <a href="#" class="btn btn-outline-primary toggle-tarea"><i class="bi bi-caret-up-fill"></i></a>
                </div>
                <div class="texto-tarea">
                    <p><%= tarea.tarea %></p>
                </div>
                <div class="fecha-tarea">
                    <p><%= tarea.fecha_publicacion %></p>
                </div>
                <div class="modificar-tarea">
                    <% if (tarea.usuario === usuario) { %>
                        <a href="/tarea_editar/<%= tarea.id %>" class="btn btn-outline-info"><i class="bi bi-pencil-square"></i></a>
                        <a href="/tarea_eliminar/<%= tarea.id %>" class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i></a>
                    <% } %>
                </div>
            </div>
            <% contador++; %>
        <% }); %>
    </div>
</main>

<!-- Footer -->
<footer class="footer py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Contacto</h5>
                <p><span class="bolder">Dirección:</span> 123 Calle Principal, Madrid</p>
                <p><span class="bolder">Teléfono:</span> +34 691 123 783</p>
                <p><span class="bolder">Email:</span> JoClockApp@gmail.com</p>
            </div>
            <div class="col-md-6 siguenos">
                <h5>Síguenos</h5>
                <ul class="list-unstyled d-flex justify-content-center redes">
                    <li class="me-3">
                        <a href="#" class="text-light">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                    <li class="me-3">
                        <a href="https://x.com/JoClock_App" target="_blank" class="text-light">
                            <i class="bi bi-twitter"></i>
                        </a>
                    </li>
                    <li class="me-3">
                        <a href="https://www.instagram.com/joclock.app/" target="_blank" class="text-light">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-light">
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center derechos">
                <p class="text-light">© 2024 JoClock. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

